/*Variables*/
:root{
--basic-white: #ffffff;
--basic-black: #000000;
--slightly-desaturated-blue: #81B3D2;
--basic-very-light-gray: #EEEEEE;
--mostly-desaturated-dark-orange: #766357;
--very-light-gray: #F2F2F2;
--gray: #A9A9A9;
--slightly-desaturated-blue: #669EC0;
--moderate-blue: #5496BD;
--very-dark-grayish-orange: #604E43;
--very-dark-desaturated-orange: #503E33;
--very-light-gray: #EBEBEB;
--light-gray: #CACACA;
--light-grayish-blue: #e4f1f9;
--light-grayish-orange: #e9e5dc;
--very-dark-grayish-lime-green: #2a3e45;
--very-dark-gray: #666666;
}

/*Global*/

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-very-light-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-body {
  background-color: var(--basic-white);
}

}
.button {
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--mostly-desaturated-dark-orange);
}

.button:hover,
.button:focus {
  background-color: var(--slightly-desaturated-blue);
}

.button:active {
  background-color: var(--moderate-blue);
}

/* Main navigation */
.main-nav a {
  color: var(--basic-black);
}

.main-nav-list {
  font-weight: bold;
  list-style: none;
}

.main-nav-list a:hover,
.main-nav-list a:focus{
  color: var(--slightly-desaturated-blue);
}

.main-nav-list a:active {
  color: var(--light-gray);
}

.intro-title {
  font-size: 21px;
}

.promo {
  background: var(--light-grayish-blue);
  background-image: url(../img/intro-bg.jpg);
  background-repeat: no-repeat;
}

/* Features */

.features-list {
  list-style: none;
}

.features-item-info {
  line-height: 21px;
  background-color: var(--slightly-desaturated-blue);
}

.features-item-title {
  font-size: 21px;
  line-height: 21px;
}

.features-item-info .features-item-title {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
}

.features-item-info p {
  line-height: 21px;
  color: var(--basic-white);
}

.features-sublist .features-item {
  background-color: var(--basic-white);
  list-style: none;
}

.features-sublist-title {
  font-size: 21px;
  line-height: 21px;
}

.features-item {
  background-color: var(--basic-very-light-gray);
}

.search {
  background-color:var(--basic-white);
  line-height: 24px;
}

.search-title {
  font-size: 30px;
  line-height: 24px;
}

.map {
  background-color: var(--light-grayish-orange);
}

.index-footer-contacts {
  background-color: var(--basic-white);
}
.footer-visit a {
  font-size: 21px
  color: var(--basic-black);
}

.footer-visit a:hover,
.footer-visit a:focus,
.footer-visit a:active {
  text-decoration: none;
}

.social-list {
  list-style: none;
}

.social-link a {
  color: var(--basic-white);
  background-color: var(--slightly-desaturated-blue);
}

.social-link a:hover,
.social-link a:focus {
  background-color: var(--slightly-desaturated-blue);
}

.social-link a:active {
  background-color: var(--moderate-blue);
}

.copyright-link a {
  color: var(--basic-black);
}

.copyright-link .button:hover,
.copyright-link .button:focus {
  color: var(--slightly-desaturated-blue);
}

.copyright-link .button:active {
  color: var(--very-light-gray);
}

.filter-title {
  line-height: 21px;
  font-weight: bold;
}

.filter {
  background-color: var(--very-dark-grayish-lime-green);
  background-image: url(../img/filter-bg.jpg);
  background-repeat: no-repeat;
}

.filter-group {
  line-height: 21px;
  color: var(--basic-white);
}

.filter-title {
  font-size: 16px;
}

.filter-item {
  list-style: none;
}

.sort-option {
  list-style: none;
}

.sort-option a {
  color: var(--light-gray);
}

.sort-option a:hover,
.sort-option a:focus{
  color: var(--slightly-desaturated-blue);
}

.sort-option a:active{
  color: var(--basic-black);
}

.order a {
  color: var(--light-gray);
}
.order a:hover,
.order a:focus{
  color: var(--slightly-desaturated-blue);
}

.order a:active{
  color: var(--basic-black);
}

.filter-button {
  background-color: transparent;
  border: solid;
  border-width: 2px;
  border-color: var(--basic-white);
  color: var(--basic-white);
}

.filter-button:hover,
.filter-button:focus{
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.catalog-list {
  list-style: none;
}

.catalog-item a {
  color: var(--basic-black);
}

.catalog-item-title {
  font-size: 26px;
}

.catalog-item div {
  line-height: 24px;
  color: var(--very-dark-gray);
}

.rating p {
  background-color: var(--very-light-gray);
  color: var(--very-dark-gray);
}



