/*Variables*/
:root{
--basic-white: #ffffff;
--basic-black: #000000;
--slightly-desaturated-blue:#81B3D2;
--basic-very-light-gray:#EEEEEE;
--mostly-desaturated-dark-orange:#766357;
--very-light-gray:#F2F2F2;
--gray:#A9A9A9;
--slightly-desaturated-blue:#669EC0;
--moderate-blue:#5496BD;
--very-dark-grayish-orange:#604E43;
--very-dark-desaturated-orange:#503E33;
--very-light-gray:#EBEBEB;
--light-gray:#CACACA;
--very-dark-gray:#333333;
}

/*Global*/

body{
  margin: 0;
  padding: 0;
  font-family:'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--basic-very-light-gray);
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.button{
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--mostly-desaturated-dark-orange);
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--very-dark-grayish-orange);
}

/* Main navigation */
.main-nav{
  color: var(--basic-black);
  background-color: transparent;
}

.site-nav{
  list-style: none;
}

.site-nav a:hover,
.site-nav a:focus,
.site-nav a:active  {
color: var(--slightly-desaturated-blue);
}

.title{
  text-align: center;
  font-size: 21px;
}

.text{
   text-align: center;
}

/* Features */

.features {
 line-height: 21px;
 background-color: var(--slightly-desaturated-blue);
}

.features-item h3{
font-size: 21px;
line-height: 21px;
}

.features-sublist{
  background-color: var(--basic-white);
  list-style: none;
}

.features-sublist-item{
  text-align: center;
  line-height: 21px;
}

.features-sublist-item h4{
font-size: 21px;
line-height: 21px;
}

.features-item h3{
font-size: 21px;
line-height: 21px;
}

.features-item {
list-style: none;
text-align: center;
line-height: 21px;
}

.search{
  background-color:var(--basic-white);
  text-align: center;
  line-height: 24px;
}

.search h2{
font-size: 30px;
line-height: 24px;
}

.footer-visit{
  font-size: 21px
  color: var(--basic-black);
}

.footer-visit-link a {
  text-decoration: underline;
}

.footer-visit-link :hover,
.footer-visit-link :focus,
.footer-visit-link :active {
  text-decoration: none;
}

.social-list {
  text-align: center;
  list-style: none;
}

.social-link {
  color: inherit;
  background-color: var(--slightly-desaturated-blue);
}

.social-link:hover,
.social-link:focus,
.social-link:active
{
  background-color: var(--moderate-blue);
}

.copyright-link .button:hover,
.copyright-link .button:focus,
.copyright-link .button:active{
  color: var(--slightly-desaturated-blue);
}

fieldset{
 line-height: 21px;
 color: var(--basic-white);

}

legend{
  font-size: 16px;
}
.search_cat{
 list-style: none;
}
.result-search{
  list-style: none;
}
.result-search a:hover,
.result-search a:focus,
.result-search a:active{
color: var(--slightly-desaturated-blue);
}

.filter-button{
opacity: 0.0;
}

.filter-button:hover,
.button:focus,
.button:active {
background-color: var(--basic-white);
}

.catalog-list{
list-style: none;
}
.catalog-item a {
color: var(--basic-black);
}
.catalog-item h3 {
  font-size: 26px;
}
.catalog-item div{
  line-height: 24px;
  color: var(--very-dark-gray);
}
.rating{
  background-color: var(--very-light-gray);
}

